__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log

venv/
env/
.myenv/
myenv/

*.env

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
*.dist-info/

*.manifest
*.spec

*.exe
*.dll
*.so
*.dylib

migrations/

*.key
*.pem
*.crt

!templates/
!tests/
