{% if data['action']==
    User `{{ data['sender']['login'] }}` triggered *meta-{{ data['action'] }}* on [{{ data['repository']['full_name'] }}](https://github.com/{{ data['repository']['full_name'] }}) repo.
{% endif %}