{% if data['action']==
    User `{{ data['sender']['login'] }}` triggered *projects_v2_item-{{ data['action'] }}* on [{{ data['repository']['full_name'] }}](https://github.com/{{ data['repository']['full_name'] }}) repo.
{% elif data['action']==
    User `{{ data['sender']['login'] }}` triggered *projects_v2_item-{{ data['action'] }}* on [{{ data['repository']['full_name'] }}](https://github.com/{{ data['repository']['full_name'] }}) repo.
{% elif data['action']==
    User `{{ data['sender']['login'] }}` triggered *projects_v2_item-{{ data['action'] }}* on [{{ data['repository']['full_name'] }}](https://github.com/{{ data['repository']['full_name'] }}) repo.
{% elif data['action']==
    User `{{ data['sender']['login'] }}` triggered *projects_v2_item-{{ data['action'] }}* on [{{ data['repository']['full_name'] }}](https://github.com/{{ data['repository']['full_name'] }}) repo.
{% elif data['action']==
    User `{{ data['sender']['login'] }}` triggered *projects_v2_item-{{ data['action'] }}* on [{{ data['repository']['full_name'] }}](https://github.com/{{ data['repository']['full_name'] }}) repo.
{% elif data['action']==
    User `{{ data['sender']['login'] }}` triggered *projects_v2_item-{{ data['action'] }}* on [{{ data['repository']['full_name'] }}](https://github.com/{{ data['repository']['full_name'] }}) repo.
{% elif data['action']==
    User `{{ data['sender']['login'] }}` triggered *projects_v2_item-{{ data['action'] }}* on [{{ data['repository']['full_name'] }}](https://github.com/{{ data['repository']['full_name'] }}) repo.
{% endif %}