{% if data['action']=="created" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>release-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="deleted" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>release-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="edited" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>release-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="prereleased" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>release-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="published" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>release-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="released" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>release-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="unpublished" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>release-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% endif %}