{% if data['action']=="cancelled" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>sponsorship-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="created" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>sponsorship-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="edited" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>sponsorship-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="pending_cancellation" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>sponsorship-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="pending_tier_change" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>sponsorship-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="tier_changed" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>sponsorship-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% endif %}