{% if data.action == "created" %}
    {% set title_parts = data.issue.title.split(' ', 1) %}
    {% set prefix = title_parts[0] %}
    {% if prefix == "[FEATURE]" or prefix == "[BUG]" %}
        {% set title_without_prefix = title_parts[1] %}
        {% set context = prefix.strip('[]') %}
    {% else %}
        {% set context = "" %}
        {% set title_without_prefix = data.issue.title %}
    {% endif %}
{% if data.issue.pull_request is defined %}
#pr\_comment

💬 Comment by [{{ data.comment.user.login }}]({{ data.comment.user.html_url }}) on [Pull Request #{{ data.issue.number }}: {{ data.issue.title }}]({{ data.issue.html_url }})

{{ data.comment.body | replace("_", "\_") }}
{% else %}
{% if context != "" %}
#{{ context |lower }}\_comment
{% else %}
#issue\_comment

{% endif %}
💬 Comment by [{{ data.comment.user.login }}]({{ data.comment.user.html_url }}) on [{{ context }} Issue #{{ data.issue.number }}: {{ title_without_prefix }}]({{ data.issue.html_url }})

{{ data.comment.body | replace("_", "\_") }}
{% endif %}
{% endif %}