{% set title_parts = data.issue.title.split(' ', 1) %}
{% if data.action == "opened" %}
{% if "[FEATURE]" == title_parts[0] %}
#feature

💡 [{{ data.issue.user.login }}]({{ data.issue.user.html_url }}) created [FEATURE Issue #{{ data.issue.number }}: {{ title_parts[1] }}]({{ data.issue.html_url }}) {% elif "[BUG]" == title_parts[0] %}
#bug

🐞 [{{ data.issue.user.login }}]({{ data.issue.user.html_url }}) created [BUG Issue #{{ data.issue.number }}: {{ title_parts[1] }}]({{ data.issue.html_url }}) {% else %}
#issue

📝 [{{ data.issue.user.login }}]({{ data.issue.user.html_url }}) created [Issue #{{ data.issue.number }}: {{ data.issue.title }}]({{ data.issue.html_url }}) {% endif %} {% if data.issue.body %}

*Issue description:* {% set replaced_body = data.issue.body | replace("### Is there an existing issue or discussion for this?\n", "") | replace("- [X] I have searched the existing issues and discussions\n\n", "") | replace("### Is there an existing feature request or discussion for this?\n", "") | replace("- [X] I have searched the existing feature requests and discussions\n\n", "") | replace("### Problem\n", "`Problem:`") | replace("### Solution\n", "`Solution:`") | replace("### Improvements\n", "`Improvements:`") | replace("### Anything else?\n", "`Anything else?`") | replace("### Current Behavior\n", "`Current Behavior`") | replace("### Expected Behavior\n", "`Expected Behavior`") | replace("### Steps To Reproduce\n", "`Steps To Reproduce`") | replace("### Environment\n", "`Environment`") | replace("### Is there an existing issue or discussion for this?\n", "`Is there an existing issue or discussion for this?`") | replace("- [X]", "✅") %}
{% set replaced_body = replaced_body | replace("`Is there an existing feature request or discussion for this?`\n_No response_\n", "") | replace("`Problem:`\n_No response_\n", "") | replace("`Solution:`\n_No response_\n", "") | replace("`Improvements:`\n_No response_\n", "") | replace("`Anything else?`\n_No response_", "") | replace("`Current Behavior`\n_No response_\n", "") | replace("`Expected Behavior`\n_No response_\n", "") | replace("`Steps To Reproduce`\n_No response_\n", "") | replace("`Environment`\n_No response_\n", "") | replace("`Is there an existing issue or discussion for this?`\n_No response_\n", "")  %} {% set replaced_body = replaced_body | replace("\n\n\n", "\n\n") | replace("_", "\_") %} {{ replaced_body }}
{% endif %}
{% endif %}