{% if data.action == "opened" %}
#pr\_opened

🔧 [{{ data.pull_request.user.login }}]({{ data.pull_request.user.html_url }}) created [Pull Request #{{ data.pull_request.number }}: {{ data.pull_request.title }}]({{ data.pull_request.html_url }})
{% if data.pull_request.body %}
`Description of Pull Request:`
{{ data.pull_request.body | replace("_", "\_") }}
{% endif %}
{% elif data.action == "closed" and data.pull_request.merged %}
#pr\_merged

🔀 [{{ data.pull_request.user.login }}]({{ data.pull_request.user.html_url }}) closed and merged [Pull Request #{{ data.pull_request.number }}: {{ data.pull_request.title }}]({{ data.pull_request.html_url }}) into the main branch
{% if data.pull_request.body %}
`Description of Pull Request:`
{{ data.pull_request.body | replace("_", "\_") }}
{% endif %}
{% endif %}