{% if data['action']=="created" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>deployment-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% endif %}