{% if data['action']=="answered" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="category_changed" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="created" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="deleted" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="edited" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="labeled" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="locked" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="pinned" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="transferred" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="unanswered" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="unlabeled" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="unlocked" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="unpinned" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>discussion-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% endif %}