{% if data['action']=="added" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>membership-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="removed" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>membership-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% endif %}