{% if data['action']=="deleted" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>organization-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="member_added" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>organization-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="member_invited" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>organization-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="member_removed" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>organization-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% elif data['action']=="renamed" %}
    User <code>{{ data['sender']['login'] }}</code> triggered <i>organization-{{ data['action'] }}</i> on <a href="https://github.com/{{ data['repository']['full_name'] }}">{{ data['repository']['full_name'] }}</a> repo.
{% endif %}